@import "~@angular/material/theming";

@include mat-core();

$op-black: (
    50: #212121,
    100: #1E1E1E,
    200: #1C1C1C,
    300: #191919,
    400: #151515,
    500: #121212,
    600: #0F0F0F,
    700: #0C0C0C,
    800: #090909,
    900: #060606,
    A100: #353535,
    A200: #494949,
    A400: #5D5D5D,
    A700: #717171,
    contrast: (
        50: #e0e0e0,
        100: #e0e0e0,
        200: #e0e0e0,
        300: #e0e0e0,
        400: #e0e0e0,
        500: #e0e0e0,
        600: #e0e0e0,
        700: #e0e0e0,
        800: #e0e0e0,
        900: #e0e0e0
    )
);

$op-taupe: (
    50: #6D4C41,
    100: #64463C,
    200: #5A3F36,
    300: #503830,
    400: #46312A,
    500: #3C2A24,
    600: #32231E,
    700: #281C18,
    800: #1E1512,
    900: #140E0C,
    A100: #7A5C52,
    A200: #876C63,
    A400: #947C74,
    A700: #A28D86,
    contrast: (
        50: #e0e0e0,
        100: #e0e0e0,
        200: #e0e0e0,
        300: #e0e0e0,
        400: #e0e0e0,
        500: #e0e0e0,
        600: #e0e0e0,
        700: #e0e0e0,
        800: #e0e0e0,
        900: #e0e0e0
    )
);

$op-taupe-purple: (
    50: #774C60,
    100: #6D4658,
    200: #623F4F,
    300: #573846,
    400: #4C313E,
    500: #412A35,
    600: #37232C,
    700: #2C1C23,
    800: #21151B,
    900: #160E12,
    A100: #835C6E,
    A200: #8F6C7C,
    A400: #9C7C8B,
    A700: #A88D99,
    contrast: (
        50: #e0e0e0,
        100: #e0e0e0,
        200: #e0e0e0,
        300: #e0e0e0,
        400: #e0e0e0,
        500: #e0e0e0,
        600: #e0e0e0,
        700: #e0e0e0,
        800: #e0e0e0,
        900: #e0e0e0
    )
);

$op-deep-puce: (
    50: #B75D69,
    100: #A75560,
    200: #964D56,
    300: #86444D,
    400: #753C43,
    500: #64333A,
    600: #542B30,
    700: #432227,
    800: #321A1D,
    900: #211114,
    A100: #BD6B76,
    A200: #C47A84,
    A400: #CA8991,
    A700: #D1979F,
    contrast: (
        50: #e0e0e0,
        100: #e0e0e0,
        200: #e0e0e0,
        300: #e0e0e0,
        400: #e0e0e0,
        500: #e0e0e0,
        600: #e0e0e0,
        700: #e0e0e0,
        800: #e0e0e0,
        900: #e0e0e0
    )
);

$op-tan: (

);

$ourplace-app-primary: mat-palette($op-black);
$ourplace-app-accent: mat-palette($op-deep-puce, A200, A100, A400);

$ourplace-app-theme: mat-dark-theme($ourplace-app-primary, $ourplace-app-accent);

@include angular-material-theme($ourplace-app-theme);