body {
    height: 100vh;
    display: flex;
}

h1 {
    position: absolute;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    color: coral;
}

.landing-container {
    overflow: auto;
    height: 100%;
}

.main-content {
    flex: auto;
    overflow: auto;
    position: relative;
}

.content {
    padding-left: 8px;
    padding-right: 8px;
}

.parallax {
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-one {
    background-image: url("https://images.pexels.com/photos/683039/pexels-photo-683039.jpeg?cs=srgb&dl=architecture-bar-cafe-683039.jpg");
}

.parallax-two {
    background-image: url("https://images.pexels.com/photos/1415555/pexels-photo-1415555.jpeg?cs=srgb&dl=aroma-background-black-1415555.jpg");
}

.parallax-text {
    color: white;
}

.centred-text {
    transform: translate(44vw, 225px);
}