<!DOCTYPE html>
<html>
  <body>
    <h1>{{price}}</h1>
    <button mat-button routerLink="/payment">Checkout</button>
    <mat-list>
      <mat-list-item *ngFor="let drink of cart">{{drink.name}}</mat-list-item>
    </mat-list>
  </body>
</html>