body {
    height: 1000px;
    padding-left: 8%;
    padding-right: 8%;
}

.address-container {
    display: flex;
    flex-direction: column;
}

.small-address-container {
    display: flex;
    flex-direction: row;
}

.small-address {
    margin-right: 8px;
}